.map-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.selection-menu {
    width: 300px;
    flex: 0 1 auto;
}

.map-container-wrapper {
    flex: 1 1 auto;
}

.map-container {
    height: calc(100vh - 200px);
}

.map-container-wrapper .marker-info:hover {
    cursor: pointer;
}

.restaurant-modal {
    width: 0px;
    transition: width 0.4s ease-in-out;
}

.restaurant-modal.active {
    width: 300px;
}

.map-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 0 20px 0;
    border-bottom: 1px black solid;
}

.map-buttons button {
    background: #0f6273;
    border-radius: 20px;
    width: 120px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
}

.restaurant-filter-wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 20px;
}

.restaurant-filter-title {
    font-size: 30px;
    font-weight: bold;
}

.marker-info {
    font-size: 15px;
    padding: 5px;
}

.marker-info:hover {
    background: #9ca3af;
    font-weight: bold;
}

.filter-slider {
    margin-bottom: 20px;
}