.class-name-input-form {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.class-name-input-form-buttons {
    display: flex;
    flex-direction: row;
    gap: 50px;
    font-size: 20px;
}

.class-name-input-form-buttons button {
    border-radius: 5px;
    background: #117a8b;
    width: 50px;
}